/* ManualMarkdown デフォルトCSS */

body {
  margin: 0;
}

h1 {
  border-left: 0.5em black solid;
  border-right: 0.5em black solid;
  border-top: 1px gray solid;
  border-bottom: 1px gray solid;
  font-size: 3em;
  text-align:center;
  margin: 0 0 0.5em 0;
  padding: 0.25em 0;
}

h2 {
  border-left: 1.5em solid black;
  border-bottom: 1px solid black;
  padding-left : 0.5em;
}

h3 {
  border-left: 1.5em solid gray;
  border-bottom: 1px dotted black;
  padding-left : 0.5em;
}

article {
  max-width: 900px;
  margin: 0 auto;
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Noto Sans JP", sans-serif;
}

section > section {
  padding-left: 1em;
}

p {
  margin: 0;
}

img {
  max-width: 100%;
}

table {
  border-collapse: collapse;
  width: auto;
}

table th,
table td {
  border: 1px solid #ccc;
  padding: 6px 8px;
}

table th {
  background-color: #f0f0f0;
}

/* 種別指定ブロック例 */
.info, .notice {
  padding: 12px;
  margin: 12px 0;
}

.info > div:first-child,
.notice > div:first-child {
  font-weight: 700;
  margin-bottom: 8px;
}

.info > div:first-child::before {
  content: "❓";
}

.notice > div:first-child::before {
  content: "⚠️";
}

.info > div:nth-child(2),
.notice > div:nth-child(2) {
  border: 1px solid #ddd;
  border-radius: 10px;
  background: #fafafa;
  padding: 0.25em 0.5em;
}

/* 引用 */
blockquote {
  background-color:#fafafa;
  border-left: solid 5px blue;
  padding-left: 0.5em;
}

blockquote > blockquote {
  margin-inline-start: 1em;
  margin-inline-end: 0;
}

/* 横線 */
hr.break-minus {
  border-top: solid black 1px;
}

hr.break-minus {
  border-top: dashed black 1px;
}

hr.solid-under {
  border-top: double black 3px;
}

hr.break-under {
  border-top: dotted black 2px;
}

hr.solid-asta {
  border-top: solid black 3px;
}

hr.break-asta {
  border-top: dashed black 3px;
}

/* 手順box */
div.flow-box {
  border: solid lightgrey 1px;
  margin-left: 0.5em;
  margin-right: 0.5em;
  padding: 0.25em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

div.flow-parallel {
  border: dotted black 1px;
  border-radius: 5px;
  padding: 0.25em;
  display: flex;
  justify-content: canter;
}

div.flow-item {
  border: solid black 1px;
  border-radius: 5px;
  background-color: lightgray;
  padding: 0.25em 0.5em;
}

div.flow-item > div:first-child {
  text-align:center;
}

/* svg */
svg {
  max-width: 100%;
}